#pidpis{
    background-color: red;
}

#runner1{
    background-color: gold;
}

#runner2{
    background-color: gray;
}

#runner3{
    background-color: rgb(128, 49, 49);
}

#runner4{
    background-color: greenyellow;
}

#runner5{
    background-color: greenyellow;
}

#runner6{
    background-color: greenyellow;
}

#runner7{
    background-color: greenyellow;
}

#runner8{
    background-color: greenyellow;
}

#runner9{
    background-color: greenyellow;
}

#runner10{
    background-color: greenyellow;
}

#runner11{
    background-color: greenyellow;
}

#runner12{
    background-color: greenyellow;
}

#input{
    background-color: greenyellow;
}

#nadpys{
    text-align: center;
}

h2{
    margin: 0;
}

select{
    height: 30px;
}

#result1{
  background-color: gold;  
}

#result2{
    background-color: gray;     
}

#result3{
    background-color: rgb(133, 74, 74);     
}

#result4{
    background-color: greenyellow;  
}
  
#result5{
    background-color: greenyellow;     
}
  
#result6{
    background-color: greenyellow;     
}

#result7{
    background-color: greenyellow;  
}
  
#result8{
    background-color: greenyellow;     
}
  
#result9{
    background-color: greenyellow;   
}

#result10{
    background-color: greenyellow; 
}
  
#result11{
    background-color: greenyellow;   
}
  
#result12{
    background-color: greenyellow;    
}

button{
    display: block;
    width: 20vw;
    padding: 15px;
    margin: 10px auto;
    background: rgb(220, 254, 96);;
    border: 1px solid;
    border-radius: 10px;
    color: #000000;
}

.mobile{
    width: 100vw;
    height: 100wh;
}

.mobile h1{
    font-size: x-large;
}

.mobile h2{
    height: 6vh;
}

.mobile input{
    height: 4vh;
    width: 35vw;
}

.mobile select{
    height: 4vh;
    width: 8vw;
}